.header {
    padding: 30px 80px;
    background: rgb(56, 39, 210);
    display: flex;
    align-items: center;
    justify-content: space-around;
    label {
        display: flex;
        align-items: center;
        cursor: pointer;
        span {
            color: rgb(255, 255, 255);
        }
        input {
            width: 25px;
            height: 20px;
            margin: 0;
            margin-right: 3px;
        }
    }
    .logo {
        color: rgb(255, 255, 255);
    }
}